* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', Verdana, sans-serif;
    
}

img { 
    max-width: 250px;
}

h1, h2 {
    margin-bottom: 15px;
}
h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}
.text { 
    font-size: larger;
}
.container { 
    max-width: 500px;
    margin: 0 30px;
    padding: 0 30px;
}

ul{
    list-style-type: none;
    font-size: 18px;
    color: #e5e5e5;
}

.logo { 
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;

}
.navbar, .header, .footer{
background-color: #1F2937;
color: #F9FAF8;
}

.alert-text {
    background-color: #3882f6 ;
}

button {background-color: #3882f6;}

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}
.navbar .container{ 
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px;
    height: 100px;
}
.header .container{
    height: 500px;
    padding: 100px;
}
.header p {
    font-size: medium;
}
.navbar ul{
    display: flex;
    justify-content: space-around;
    gap: 16px;
}
.header .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header img {

    height: 300px;
    width: 1800px;
    border-radius: 15px;
}
.boxes .box{
    display: flex;
    justify-content: center;
    gap: 20px;

}

.quote .container{
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: center;

}
.container p {align-self: flex-end;}
.alert-text .container {
    display: flex;
    justify-content: space-between;
    height: 150px;
    width: 1000px;
    align-items: center;
    flex-wrap: nowrap;
    
}
.footer .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.box img {
    height: 300px;
    width: 300px;
}
.quote p{
    align-self: flex-end;
}
.alert-text{
    margin: 80px;
    padding: 10px;
    border: 10px;
    border-style: none;
    border-radius: 10px;
    font-size: larger;
}